N8N_RUNNERS_AUTH_TOKEN=some-long-random-secret
OLLAMA_HOST=http://ollama-api.lxa.com/

POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_DB=n8n

N8N_ENCRYPTION_KEY=super-secret-key
N8N_USER_MANAGEMENT_JWT_SECRET=even-more-secret
N8N_DEFAULT_BINARY_DATA_MODE=filesystem

# For Mac users running OLLAMA locally
# See https://github.com/n8n-io/self-hosted-ai-starter-kit?tab=readme-ov-file#for-mac--apple-silicon-users
# OLLAMA_HOST=host.docker.internal:11434

# Runner packages to install
N8N_RUNNERS_PYTHON_PACKAGES=pyyaml elasticsearch requests
N8N_RUNNERS_NODE_PACKAGES=yaml @elastic/elasticsearch axios

# Import permissions
N8N_RUNNERS_STDLIB_ALLOW=*
N8N_RUNNERS_EXTERNAL_ALLOW=*

N8N_RUNNERS_NODE_BUILTIN_ALLOW=crypto,fs,path
N8N_RUNNERS_NODE_EXTERNAL_ALLOW=moment,yaml,@elastic/elasticsearch,axios
